<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>iotboot</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0;
	font-size: 10pt;
	font-family: "Trebuchet MS", sans-serif;
	background-color: white;
}

.pull-right {
  float: right !important;
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
    </style>

</head>

<body>

<div class="container-fluid">

    <div class="row" style="height: 60px;">
        <div style="margin-top: 10px; margin-left: 20px;">
            <img th:src="@{/images/iotboot_icon.png}"/>
        </div>

        <div class="pull-right" style="padding-right: 5px; margin-top:-30px;">
            <span th:text="${'Hello : '+user_name}"></span>
            <a th:href="@{/userauth/logout}" style="cursor: pointer">
                <button style="cursor:pointer; color:#ffffff; background-color:#333333; padding-left:20px; padding-right: 20px;border: none; padding-top:5px; padding-bottom: 5px;">
                    Log out
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="menu1" onclick="menu_select(1);" class="active"><a href="#">Console</a></li>
                <li id="menu2" onclick="menu_select(2);"><a href="#">MQTT</a></li>
                <!--<li id="menu3" onclick="menu_select(3);"><a href="#">WebSock</a></li>-->
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="content1">
            <h1 class="page-header">Console</h1>
            <h2>MQTT</h2>
            <div>
<!-- Styles -->
<style>
#chartdiv {
	width		: 100%;
	height		: 300px;
	font-size	: 11px;
}
</style>

                <!-- Resources -->
                <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
                <script src="https://www.amcharts.com/lib/3/serial.js"></script>
                <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

                <!-- Chart code -->
<script th:inline="javascript">
/*<![CDATA[*/
var data = [[${chart_list}]];
var firstDate = [[${first_date}]];
var lastDate = [[${last_date}]];
/*]]>*/
</script>

<script>
console.log(data.length);

var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "dataProvider": data,
    "balloon": {
        "cornerRadius": 6,
        "horizontalPadding": 15,
        "verticalPadding": 10
    },
    "graphs": [{
        "bullet": "square",
        "bulletBorderAlpha": 1,
        "bulletBorderThickness": 1,
        "fillAlphas": 0.3,
        "fillColorsField": "lineColor",
        "legendValueText": "[[value]]",
        "lineColorField": "lineColor",
        "title": "value",
        "valueField": "value"
    }],
    "chartScrollbar": {

    },
    "chartCursor": {
        "categoryBalloonDateFormat": "YYYY MMM DD",
        "cursorAlpha": 0,
        "fullWidth": true
    },
    "dataDateFormat": "YYYY-MM-DD",
    "categoryField": "createDate",
    "categoryAxis": {
        "dateFormats": [{
            "period": "DD",
            "format": "DD"
        }, {
            "period": "WW",
            "format": "MMM DD"
        }, {
            "period": "MM",
            "format": "MMM"
        }, {
            "period": "YYYY",
            "format": "YYYY"
        }],
        "parseDates": true,
        "autoGridCount": false,
        "axisColor": "#555555",
        "gridAlpha": 0,
        "gridCount": 50
    }
});

chart.addListener("dataUpdated", zoomChart);

function zoomChart() {
    chart.zoomToDates(new Date(firstDate), new Date(lastDate));
}
</script>
<!-- HTML -->
                <div id="chartdiv">

                </div>

            </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="content2">
            <h1 class="page-header">MQTT</h1>
            <div class="row">
                <form th:action="@{/console/pub}">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control" name="topic" placeholder=": Topic">
                            <input type="text" class="form-control" name="message" placeholder=": Message">
                            <input type="hidden" name="step" value="2"/>
                            <button class="btn btn-default" type="submit">Send</button>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </form>
            </div>

            <!--<div class="row">-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<ul th:each="data : ${mqtt_list}" style="list-style-type: none;">-->
                    <!--<li th:text="${data[0]+ ' : '+data[1]}"/>-->
                <!--</ul>-->
            <!--</div>-->

        </div>

        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="content3">-->
            <!--<h2>Comming soon</h2>-->
        <!--</div>-->

    </div>

</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>


<!-- Chart code -->
<script th:inline="javascript">
/*<![CDATA[*/
var step = [[${step}]];
/*]]>*/
</script>

<script type='text/javascript'>
        function menu_select(menuIndex){
            console.log(i);
            for(var i=1;i<=3;i++){
                $('#menu'+i).removeClass('active');
                $('#content'+i).hide();
            }
            $('#menu'+menuIndex).addClass('active');
            $('#content'+menuIndex).show();
        }
        if (step == null){
            menu_select(1);
        } else {
            menu_select(step);
        }

</script>

</body>
</html>