<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<thymeleaf th:replace="html_lib :: head" />

<body>

<div class="container-fluid">

    <div th:replace="html_lib :: story_header">
    </div>
    
    <div style=" margin-left: 10%; margin-right: 10%;">
        <div th:each="blog : ${blogs}" class="col-sm-4">
            <ul style="list-style-type: none;">
                <li>
                    <a th:href="${'/blog/view?id='+blog.iotBlog.id}"><img th:if="${blog.titleImage != null}" width="300px" th:src="${blog.titleImage}"></a>
                </li>
                <li><a th:href="${'/blog/view?id='+blog.iotBlog.id}" th:text="${blog.iotBlog.title}"></a></li>
                <!--<li><span th:text="${'by : '+blog.iotBlog.iotUser.userProfile.userName}"></span></li>-->
            </ul>
        </div>
    </div>

</div>

</body>
</html>