<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<thymeleaf th:replace="html_lib :: head" />

<style>
    .seperator {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #3fa9f5;
        margin: 1em 0;
        padding: 0;
    }
</style>

<body>

<div class="container-fluid">

    <div th:replace="html_lib :: story_header">
    </div>

    <div class="row" style="margin-left: 20%; margin-right: 20%;">
        <ul th:each="blog : ${blogs}" style="list-style-type: none; padding-bottom: 20px;">
            <a th:href="${'/blog/detail?id='+blog.id}">
                <li th:text="${blog.title}" class="col-sm-6"></li>
                <!--<li th:text="${blog.blogStatus.name}" class="col-sm-4"></li>-->
            </a>
        </ul>
    </div>

</div>

</body>
</html>