<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:include="html_lib :: head">
</head>

<script th:inline="javascript" type="application/javascript">
	$(document).ready( function() {
		$('#message').html([[${blog.message}]])
	});

</script>

<style>
    .seperator {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #3fa9f5;
        margin: 1em 0;
        padding: 0;
    }
</style>

<body>

<div class="container-fluid">

    <div th:replace="html_lib :: story_header">
    </div>

    <div class="row">
        <ul style="list-style-type: none; margin-left:10%; margin-right:10%; margin-top:20px;">
            <li><h1><span th:text="${blog.title}" style="font-weight: bold;"></span></h1></li>
            <li>
                <hr class="seperator"/>
            </li>
            <li style="margin-top:10px;"><span id="message"></span></li>
            <!--<li th:text="${'by : '+blog.iotUser.fullName}" style="margin-top: 10px; margin-left: 5px;"></li>-->
        </ul>
    </div>

    <form th:action="@{/blog/comment}">
        <input type="hidden" name="id" th:value="${blog.id}"/>
        <div style="margin-left:10%; margin-right:10%; margin-top:20px;">
            <center>
                <div class="input-group">
                    <input type="text" name="comment_message" class="form-control" style="height:30px;" placeholder=": Comment">
                    <span class="input-group-btn"><button class="btn btn-default" style="height:30px;" type="submit">Send</button></span>
                </div><!-- /input-group -->
            </center>
        </div><!-- /.col-lg-6 -->
    </form>

    <div class="row" style="margin-left:20%;">
        <h3>Comment :</h3>
        <ul th:each="ans : ${anslist}" style="list-style-type: none;">
            <li th:text="${ans}"/>
        </ul>
    </div>
</div>

</body>
</html>