<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<thymeleaf th:replace="html_lib :: head" />

<body>

<div class="container-fluid">

    <div th:replace="html_lib :: classroom_header">
    </div>

	<div class="row" style="margin-top: 20px;">
        <div class="col-sm-2"></div>
    	<p class="col-sm-8" style="text-indent: 10px;">
        	classroom ของ iotboot เป็นสือการสอนเพื่อให้นักเรียนได้สามารถใช้ smart phone ติดต่อกับอุปกรณ์ต่างๆ ผ่าน iot ของ iotboot โดยเนื้อหา
            จะประกอบด้วยส่วน Android และส่วนเชื่อมต่อกับอุปกรณ์ต่างๆ  หลังจากผู้เรียนได้ศึกษาแล้วจะสามารถสั่งงานอุปกรณ์ต่างผ่านมือถือ Android ได้
            ซึ่งเนื้อหาดังกล่าวมีดังต่อไปนี้
        </p>
    </div>

    <div style="margin-top: 10px;">
        <div class="col-sm-2"></div>
            <ul class="col-sm-8" style="list-style-type: none;">
               <li><h2 class="bd-featurette-title">Smartphone and interface</h2></li>
                <li>
                    <a th:href="@{/classroom/room/ch1}">
                        <span style="color: #4CCFC1">บทที่ 1 :</span>
                        <span style="color: #000000">แนะนำ Smart Phone Interface</span>
                    </a>
                </li>
                <li>
                    <hr class="seperator"/>
                </li>

                <li>
                    <a th:href="@{/classroom/room/ch2}">
                        <span style="color: #4CCFC1">บทที่ 2 :</span>
                        <span style="color: #000000">Android พื้นฐาน</span>
                    </a>
                </li>
                <li>
                    <hr class="seperator"/>
                </li>

                <li>
                    <a th:href="@{/classroom/room/ch3}">
                        <span style="color: #4CCFC1">บทที่ 3 :</span>
                        <span style="color: #000000">Android layout</span>
                    </a>
                </li>
                <li>
                    <hr class="seperator"/>
                </li>

                <li><h2 class="bd-featurette-title">Other</h2></li>
                <li>
                    <a th:href="@{/classroom/room/maven}">
                        <span style="color: #000000">maven</span>
                    </a>
                </li>
                <li>
                    <hr class="seperator"/>
                </li>
                <li>
                    <a th:href="@{/classroom/room/git}">
                        <span style="color: #000000">git</span>
                    </a>
                </li>
                <li>
                    <hr class="seperator"/>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>