<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>iotboot</title>

    <link rel="icon" th:href="@{/images/fav_iot_icon.png}"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        body {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 0;
            font-size: 10pt;
            font-family: "Trebuchet MS", sans-serif;
            background-color: white;
        }

        .pull-right {
          float: right !important;
        }


    </style>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/docs.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

</head>

<body>

<div th:fragment="header" class="row">

</div>

<div th:fragment="iot_header" style="margin-top: 10px; margin-bottom: 10px;">
    <center>
        <div class="row">
            <div class="col-sm-3">
                <a href="/aboutus"><button class="btn btn-default">About us</button></a>
            </div>

            <div class="col-sm-6">
                <a th:href="@{/}"><img th:src="@{/images/iotboot_icon.png}"/></a>
            </div>

            <div class="pull-right" style="padding-right: 20px;">
                    <span style="padding-right:10px;">
                        <a th:href="@{/userauth/signin}" style="text-decoration: none">Sign in</a>
                    </span>
                <a th:href="@{/console}" style="cursor: pointer">
                    <button style="cursor:pointer; color:#ffffff; background-color:#333333; padding-left:20px; padding-right: 20px;border: none; padding-top:5px; padding-bottom: 5px;">
                        Console
                    </button>
                </a>
            </div>
        </div>
    </center>
</div>

<div th:fragment="story_header" style="margin-top: 10px; margin-bottom: 10px;">
    <center>
        <div class="row">
            <div class="col-sm-3">
                <a href="#"><button class="btn btn-default">usage</button></a>
            </div>

            <div class="col-sm-6">
                <a th:href="@{/blog}"><img th:src="@{/images/story_boot_icon.png}"/></a>
            </div>

            <div th:fragment="blog_menu" class="col-sm pull-right">
                <script>
                   function clickUserIcon(){
                       $('.content-one').slideToggle('slow');
                    }
                </script>
                <span th:if="${session['user_name']}" th:text="${session['user_name'].fullName}" onclick="clickUserIcon();"/>
                <i onclick="clickUserIcon();" class="fa fa-user fa-3x" aria-hidden="true"></i>
                <i onclick="clickUserIcon();" class="fa fa-caret-down fa-3x" aria-hidden="true" style="margin-right:50px;"></i>
                <div class="content-one" style="display:none; margin-left: 20px; margin-top: 10px;">
                    <p style="cursor: pointer;">Edit profile</p>
                    <p style="cursor: pointer;">
                        <a th:href="@{/blog/list}">My posts</a>
                    </p>
                    <p style="cursor: pointer;">
                        <a th:href="@{/blog/new}">New blog</a>
                    </p>
                    <p style="cursor: pointer;">
                        <a th:href="@{/userauth/logout}">Log out</a>
                    </p>
                </div>
            </div>
        </div>
    </center>
</div>

<div th:fragment="classroom_header" style="margin-top: 10px; margin-bottom: 10px;">

    <center>
        <div class="row">
            <div class="col-sm-3">
                <a href="#"><button class="btn btn-default">usage</button></a>
            </div>

            <div class="col-sm-6">
                <a th:href="@{/classroom}">
                    <span style="color: #66030D; font-size: 30px;">{ </span>
                    <span style="color: #333333; font-size: 30px;">classroom</span>
                    <span style="color: #66030D; font-size: 30px;"> }</span>
                </a>
            </div>

            <div class="col-sm pull-right">
                <script>
                   function clickUserIcon(){
                       $('.content-one').slideToggle('slow');
                    }
                </script>
                <span th:if="${session['user_name']}" th:text="${session['user_name'].fullName}" onclick="clickUserIcon();"/>
                <i onclick="clickUserIcon();" class="fa fa-user fa-3x" aria-hidden="true"></i>
                <i onclick="clickUserIcon();" class="fa fa-caret-down fa-3x" aria-hidden="true" style="margin-right:50px;"></i>
                <div class="content-one" style="display:none; margin-left: 20px; margin-top: 10px;">
                    <p style="cursor: pointer;">Edit profile</p>
                    <p style="cursor: pointer;">
                        <a th:href="@{/blog/list}">My posts</a>
                    </p>
                    <p style="cursor: pointer;">
                        <a th:href="@{/blog/new}">New blog</a>
                    </p>
                    <p style="cursor: pointer;">
                        <a th:href="@{/userauth/logout}">Log out</a>
                    </p>
                </div>
            </div>

        </div>

    </center>
</div>

<div th:fragment="iot_icon" class="col-sm-8" style="margin-top: 10px; margin-left: 20px;">
    <a th:href="@{/}"><img th:src="@{/images/iotboot_icon.png}"/></a>
</div>

<div th:fragment="blog_icon" class="col-sm-8" style="margin-top: 10px; margin-left: 20px;">
    <a th:href="@{/blog}"><img th:src="@{/images/story_boot_icon.png}"/></a>
</div>

<div th:fragment="blog_menu" class="col-sm pull-right">
    <script>
       function clickUserIcon(){
           $('.content-one').slideToggle('slow');
        }
    </script>
    <span th:if="${session['user_name']}" th:text="${session['user_name'].fullName}" onclick="clickUserIcon();"/>
    <i onclick="clickUserIcon();" class="fa fa-user fa-3x" aria-hidden="true"></i>
    <i onclick="clickUserIcon();" class="fa fa-caret-down fa-3x" aria-hidden="true" style="margin-right:50px;"></i>
    <div class="content-one" style="display:none; margin-left: 20px; margin-top: 10px;">
        <p style="cursor: pointer;">Edit profile</p>
        <p style="cursor: pointer;">
            <a th:href="@{/blog/list}">My posts</a>
        </p>
        <p style="cursor: pointer;">
            <a th:href="@{/blog/new}">New blog</a>
        </p>
        <p style="cursor: pointer;">
            <a th:href="@{/userauth/logout}">Log out</a>
        </p>
    </div>
</div>

<div th:fragment="menu">
</div>

<div th:fragment="login">

</div>

<div th:fragment="footer">
    Footer...
</div>

</body>
</html>
