<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>nest-startup</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>

    <style type="text/css">
body {
	padding-top: 10%;
	padding-bottom: 30px;
	background-color: #A0A0A0;
}

.form-signin {
	max-width: 600px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #ffffff;
	margin: 0 auto;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
    </style>

</head>
<body>
<div class="container">
    <div th:if="${param.error}">
        <center>
        <span style="color:red">Invalid username and password.</span>
        </center>
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="form-signin" th:action="@{/login}" method="post">
        <div>
            <div>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input
                        type="text" name="username" id="inputEmail" class="form-control"
                        placeholder="user name"/>
            </div>
            <div style="margin-top:5px">
                <label for="inputPassword" class="sr-only">Password</label>
                <input
                        type="password" name="password" id="inputPassword"
                        class="form-control" placeholder="Password"/>
            </div>
            <div style="margin-top: 5px;">
                <a th:href="@{/registor}">Registor</a>
            </div>
            <div style="margin-top: 5px;">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </div>    
    </form>
</div>
</body>
</html>