<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>iotboot</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
</head>
<style type="text/css">

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0;
    height: 100%;
    background: #4CCFC1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4CCFC1, #4A236E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4CCFC1, #4A236E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4CCFC1, #4A236E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4CCFC1, #4A236E); /* Standard syntax (must be last) */
}

html {
    height: 100%;
}

#login {
    height: 350px;
    width: 800px;
    margin-top: 20px;
    background: white;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #4A236E;
    border-color: #4A236E;
}



</style>
<form th:action="@{/registor/action}">
    <div class="row" style="height: 60px;">
        <div style="margin-top: 10px; margin-left: 20px;">
            <img th:src="@{/images/iotboot_icon.png}"/>
        </div>
    </div>

    <center>
        <div id="login">
            <div style="padding-top:70px;">
                <div th:if="${param.error}">
                    <center style="margin-bottom: 20px;">
                        <span th:text="${param.message}" style="color:red"></span>
                    </center>
                </div>
                <div class="input-group" style="margin-left: 40px; margin-right: 40px;">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" name="username" class="form-control" placeholder="Username"
                           aria-describedby="basic-addon1">
                </div>

                <div class="input-group" style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" name="password1" class="form-control" placeholder="Pass word"
                           aria-describedby="basic-addon1">
                </div>

                <div class="input-group" style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" name="password2" class="form-control" placeholder="Pass word again"
                           aria-describedby="basic-addon1">
                </div>

                <div class="input-group" style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" name="full_username" class="form-control" placeholder="Full name"
                           aria-describedby="basic-addon1">
                </div>

                <button style="margin-top: 20px;" type="submit" class="btn-primary">Registor</button>
            </div>
        </div>

    </center>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</form>

</body>
</html>